body {
  font-family: "Alkalami", sans-serif;
}

.page1 {
  background-color: #79568e;
  height: 903px;
}

.page2 {
  height: 903px;
  background-color: #47285b;
}

.page3 {
  height: 903px;
  background-color: #394955;
}

.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  width: 1475px;
  background-color: #47285b;
  height: 50px;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-header {
  height: 50px;
  width: 250px;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-header {
  height: 50px;
  width: 900px;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content li {
  width: 191px;
  height: 25px;
  font-size: 18px;
  text-align: center;
  color: #f2d9dd;
}

.header-content ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.first-content {
  border-radius: 10px;
  height: 340px;
  background-color: #86206e;
  width: 1108px;
  /* border-radius: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #f2d9dd;
  /* border: 3px solid #1e1248; */
  box-shadow: 8px 8px 15px #1c1141;
  box-shadow: inset 0px 0px 40px 40px #2a1963;
}

.first-space {
  /* background-color: red; */
  height: 444px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images {
  display: flex;
  justify-content: center;
  gap: 140px;
}

.images img {
  border-radius: 5px;
  width: 164px;
  height: 164px;
}

.description {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 140px;
  text-align: center;
}

.description p {
  width: 164px;
  font-size: 18px;
  color: #1f2937;
}

input {
  height: 50px;
  width: 923px;
  background-color: #fffade;
  opacity: 0.6;
  border-radius: 10px;
  box-shadow: 8px 8px 15px #513a5f;
  font-family: "Alkalami", sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  border: none;
  background-size: 35px 35px;
  background-image: url("images/magnifying-glass.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 50px;
  padding-top: 10px;
}

.search-content {
  height: 100px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.images button {
  background-color: #79568e;
  border-color: #79568e;
}

.page2 p {
  width: 560px;
  height: 324px;
  font-size: 18px;
  margin: 0px;
}

.page2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #f2d9dd;
  /* align-items: center; */
}

.first-scientist,
.second-scientist {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.page3 h1,
h2,
h3 {
  color: #f2d9dd;
  text-align: center;
  margin: 0px 0px;
}

.main-text {
  height: 225px;
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.star-image {
  display: flex;
  justify-content: center;
}

.lists {
  display: flex;
  justify-content: center;
}

.conclusion {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.page4 {
  background-color: #2a1963;
  height: 903px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 80%;
  color: white;
}

td,
th {
  border: 1px solid white;
  text-align: left;
  padding: 8px;
}

a {
  text-decoration: none;
}

a:link {
  color: #f2d9dd;
}

a:visited {
  color: #d0a5b2;
}

a:focus {
  color: #ffccff;
}

a:hover {
  color: #ffb3d9;
}

a:active {
  color: #ff99cc;
}
